<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <title>{{pageTitle}}</title>
</head>

<body>

  {{> header}}

  <p>Once projects have been added, they'll go here.</p>
  {{> footer}}
</body>

</html>